.item {
  &__header {
    & > div {
      span.MuiCardHeader-title {
        font-size: 1.125rem;
        margin-bottom: 4px;
      }
    }
  }

  &__tags {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
