.modal {
  &-errors {
    background-color: lightpink;
    margin-bottom: 1rem;
    min-height: 0px !important;
  }
}

.datepicker-modal {
  width: 90%;
}

.datepicker-controls .select-month input {
  width: 80px;
}