.outfit {
  &__images {
    max-height: 343px !important;
  }
}

.carousel {
  max-height: 343px;

  & .carousel-item {
    min-height: initial !important;
  }

  &-item {
    & > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
}