.outfit {
  &__image {
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &__delete {
      color: rgba(0, 0, 0, 0.5);
      padding: 4px;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 5;
      cursor: pointer;
    }
  }

  &--future {
    border: 2px solid #a8efc2;
    background-color: #a8efc2 !important;
  }

  &--unworn {
    border: 2px solid #b8e6ff;
    background-color: #b8e6ff !important;
  }

  &--worn {
    border: 2px solid #ffd0e7;
    background-color: #ffd0e7 !important;
  }

  &__tags {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.carousel {
  max-height: 500px;
  overflow: hidden;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .carousel__inner-slide {
    position: relative;
  }
}